@import "~prosemirror-view/style/prosemirror.css";

/* prosemirror -------------------------------------------------------------- */
.editor-body .ProseMirror {
    outline: none;
    padding: 0 16px;
}
.editor-body .ProseMirror-selectednode {
    box-shadow: rgb(180, 213, 255) 0 0 0 2px;
    /*outline: 2px solid rgb(180, 213, 255);*/
}

/* reset style -------------------------------------------------------------- */
.editor-body {
    caret-color: transparent;
}
.editor-body > * {
    outline: none;
}
.editor-body > *:first-child {
    margin-top: 0 !important;
}
.editor-body .placeholder {
    @apply text-gray-500 cursor-text;
}

/* mark style --------------------------------------------------------------- */
.editor-body a {
    @apply text-blue-500 hover:underline;
}

.editor-body em {
    font-style: italic;
}

.editor-body strong {
    font-weight: 600;
}

/* block style -------------------------------------------------------------- */
.editor-body h1,
.editor-body h2,
.editor-body h3,
.editor-body h4,
.editor-body h5,
.editor-body h6 {
    @apply text-black dark:text-white;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.editor-body blockquote {
    @apply border-l dark:border-gray-600 text-gray-500 dark:text-gray-400;
    border-left-width: .25em;
    padding: 0 1em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.editor-body blockquote:first-child {
    margin-top: 0;
}

.editor-body blockquote blockquote {
    padding-right: 0;
}

.editor-body p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.5;
}

/* code --------------------------------------------------------------------- */
.editor-body code {
    @apply bg-gray-100 dark:bg-gray-700 rounded-md;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
}
.editor-body pre {
    @apply bg-gray-100 dark:bg-gray-700 rounded-md pt-2 pb-2 pl-4 pr-4;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    word-break: normal;
    word-wrap: normal;
    margin-top: 0;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.editor-body pre > code {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 100%;
    overflow: visible;
    line-height: inherit;
    word-break: normal;
    white-space: pre;
    background: transparent;
}

/* list --------------------------------------------------------------------- */
.editor-body ul {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 1em;
    list-style-type: disc;
}
.editor-body ol {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 1em;
    list-style-type: decimal;
}
.editor-body ul ul {
    list-style: circle;
}
.editor-body ol ul {
    list-style: circle;
}
.editor-body ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style: square;
}
.editor-body li p {
    margin: 0.5rem 0;
}
.editor-body li ul {
    margin: 0 0;
}
.editor-body li ol {
    margin: 0 0;
}

/* autocomplete ------------------------------------------------------------- */
.editor-body .mention-active {
    @apply bg-blue-500 px-0.5 rounded text-white;
}
.editor-body .mention-node {
    @apply px-0.5 text-blue-500;
}
.editor-body .hashtag-active {
    @apply bg-red-500 px-0.5 rounded text-white;
}
.editor-body .hashtag-node {
    @apply px-0.5 text-red-500;
}

/* cursor ------------------------------------------------------------------- */
.editor-cursor {
    position: absolute;
    z-index: 3;
}

.ProseMirror-focused ~ .editor-cursor-play {
    animation: editor-cursor-frame-0 1s infinite ease;
}

.ProseMirror-focused ~ .editor-cursor-restart {
    animation: editor-cursor-frame-1 1s infinite ease;
}

@keyframes editor-cursor-frame-0 {
    0% {
        @apply bg-black;
    }
    53% {
        @apply bg-black;
    }
    54% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes editor-cursor-frame-1 {
    0% {
        @apply bg-black;
    }
    65% {
        @apply bg-black;
    }
    66% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}

.dark .ProseMirror-focused ~ .editor-cursor-play {
    animation: editor-cursor-frame-dark-0 1s infinite ease;
}

.dark .ProseMirror-focused ~ .editor-cursor-restart {
    animation: editor-cursor-frame-dark-1 1s infinite ease;
}

@keyframes editor-cursor-frame-dark-0 {
    0% {
        @apply bg-white;
    }
    53% {
        @apply bg-white;
    }
    54% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes editor-cursor-frame-dark-1 {
    0% {
        @apply bg-white;
    }
    65% {
        @apply bg-white;
    }
    66% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}

