::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

:root {
  /* border radius */
  --br: 8px;
  --rustchat-navs-bg: #e5e7eb;
  --rustchat-body-bg: #f5f6f7;
  --rustchat-chat-bg: #fff;
  --rustchat-channel-text-color: #1c1c1e;
  --rustchat-msg-text-color: #374151;
}

/* @media (prefers-color-scheme: dark) {
    :root{
        --br:8px;
        --rustchat-navs-bg:#121926;
        --rustchat-body-bg:#1F2A37;
        --rustchat-chat-bg:#384250;
        --rustchat-channel-text-color:#fff;
        --rustchat-msg-text-color:#fff;
    }
  } */
